body {
    margin: 0;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
}

.croppie_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 8;
    transition: all 0.3s ease;
}

.croppie_wrapper.active {
    opacity: 1;
    visibility: visible;
}

.croppie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rcs-inner-handle {
    background-color:#4787f4!important;
}
.react-datepicker-wrapper,.react-datepicker-wrapper div{
    width:100%;
    display:block;
    line-height:1.1875em;
}


.cm-input{
    font-size:1rem;
    display:block;

    border:1px solid rgba(0, 0, 0, 0.23);
}
.picker svg{
    color:rgb(73, 164, 222);
}